<launch>
    <!-- Arguments -->
    <arg name="model" default="waffle_pi" />
    <arg name="bag_name" default="hallway" />
    <arg name="map_file" default="$(find ist-meic-irobo-g01)/maps/hallway.yaml" />
    <arg name="open_rviz" default="true" />
    <arg name="move_forward_only" default="false" />

    <!-- Turtlebot3 -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="$(arg model)" />
    </include>

    <!-- Rosbag -->
    <param name="/use_sim_time" value="true" />
    <node pkg="rosbag" type="play" name="rosbag_player"
        args="--clock $(find ist-meic-irobo-g01)/data/$(arg bag_name).bag" />


    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL -->
    <include file="$(find turtlebot3_navigation)/launch/amcl.launch" />

    <!-- move_base -->
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="move_forward_only" value="$(arg move_forward_only)" />
    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz" />
    </group>
</launch>
  